/* ==========================================================================
HEADER
========================================================================== */

html.navigation-open {
	overflow: hidden;
}

.c-main-nav {
	display: flex;
	height: 100%;
}

.c-menu-button__wrapper {
	display: flex;
	flex-grow: 1;
	justify-content: flex-end;
}

.c-menu-button {
	@include reset_button_element;
	cursor: pointer;
	width: 30px;
}

.c-menu-button__icon {
	position: absolute;
	right: var(--spacing-m);
	width: 28px;
	height: 4px;
	background-color: var(--color-catalina-blue);
	transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);

	&::before,
	&::after {
		content: "";
		position: absolute;
		display: block;
		width: 28px;
		height: 4px;
		background-color: inherit;
	}

	&::before {
		top: -10px;
		transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;

		html.navigation-open & {
			top: 0;
			transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
			opacity: 0;
		}
	}

	&::after {
		bottom: -10px;
		transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);

		html.navigation-open & {
			bottom: 0;
			transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
			transform: rotate(-90deg);
		}
	}

	html.navigation-open & {
		transition: transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
		transform: rotate(225deg);
	}
}

.c-navigation {
	position: fixed;
	top: calc(100% - 80vh);
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	transition: visibility 0.7s;

	html.navigation-open & {
		visibility: visible;
	}
}

.menu-item {
	@include reset_list_style;
}

.c-navigation__menu-wrapper {
	padding: 0;
	transform: translateX(100vw);
	transition: transform 0.5s cubic-bezier(0.86, 0.01, 0.77, 0.78);

	html.navigation-open & {
		transform: translateX(0);
		transition: transform 0.7s cubic-bezier(0.82, 0.01, 0.77, 0.78);
	}
}

#menu-main-navigation {

	a {
		@include font_prop_heading;
	}
}

#menu-social-networks {
	display: inline-grid;
	grid-template-columns: auto;
	grid-template-rows: 1fr;
	grid-auto-flow: column;
	column-gap: var(--spacing-xs);

	a {
		@include font_prop_body;
	}
}

#main {
	transition: transform 0.7s cubic-bezier(0.91, 0.01, 0.6, 0.99);
}

.navigation-open #main {
	transform: translateX(-100vw);
}
