/* ==========================================================================
BREAKPOINTS
========================================================================== */

$phone-max: 599px;
$tablet-portrait-min: 600px;
$tablet-portrait-max: $tablet-portrait-min - 1;
$tablet-landscape-min: 900px;
$tablet-landscape-max: $tablet-landscape-min - 1;
$desktop-min: 1200px;
$desktop-max: $desktop-min - 1;
$big-desktop-min: 1800px;
$big-desktop-max: $big-desktop-min - 1;
