// ==========================================================================
// TYPOGRAPHY
// ==========================================================================

@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@300;700;800&display=swap);

:root {
	// Families
	--font-family-primary: "Raleway", sans-serif;
	--font-family-headings: "Raleway", sans-serif;

	// Weights
	--font-weight-primary-light: 300;
	--font-weight-primary-bold: 700;
	--font-weight-headings-regular: 800;

	// Sizes

	// Body
	--font-size-body-desktop: 18px;
	--font-size-body-mobile: 16px;
	--line-height-body-desktop: 1.78;
	--line-height-body-mobile: 1.75;

	// Small
	--font-size-small: 12px;
	--line-height-small: normal;

	// Medium
	--font-size-medium: 14px;
	--line-height-medium: normal;

	// H1
	--font-size-h1-desktop: 80px;
	--font-size-h1-mobile: 48px;
	--line-height-h1-desktop: normal;
	--line-height-h1-mobile: normal;

	// H2
	--font-size-h2-desktop: 28px;
	--font-size-h2-mobile: 24px;
	--line-height-h2-desktop: normal;
	--line-height-h2-mobile: normal;

	// H3
	--font-size-h3-desktop: 24px;
	--font-size-h3-mobile: 20px;
	--line-height-h3-desktop: normal;
	--line-height-h3-mobile: normal;

	// H4
	--font-size-h4-desktop: 22px;
	--font-size-h4-mobile: 18px;
	--line-height-h4-desktop: normal;
	--line-height-h4-mobile: normal;

	// H5
	--font-size-h5-desktop: var(--font-size-body-desktop);
	--font-size-h5-mobile: var(--font-size-body-mobile);
	--line-height-h5-desktop: normal;
	--line-height-h5-mobile: normal;

	// H6
	--font-size-h6-desktop: var(--font-size-body-desktop);
	--font-size-h6-mobile: var(--font-size-body-mobile);
	--line-height-h6-desktop: normal;
	--line-height-h6-mobile: normal;
}
