/* ==========================================================================
DIMENSIONS
========================================================================== */

/**
 * Helper for absolute full
 */
@mixin absolute-full($top: 0, $left: 0, $height: 100%, $width: 100%) {
	position: absolute;
	top: $top;
	left: $left;
	height: $height;
	width: $width;
}
