/* ==========================================================================
TRANSITION
========================================================================== */

/**
 * Transition shortcut
 */
 @mixin transition($property: false, $easing: var(--transition-base-easing), $duration: var(--transition-base-duration), $delay: false) {
	transition-property: $property;
	transition-duration: $duration;
	@if ($delay) {
		transition-delay: $delay;
	}
	transition-timing-function: $easing;
}
